@keyframes CPUReveal{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes CPUFrontRotateAndScale{
	from{
		transform: rotate3d(1,0,0,0deg) scale(1);
	}

	25%{
		transform: rotate3d(1,0,0,180deg) scale(1.4,1.2);
	}

	49.99999%{
		transform: rotate3d(1,0,0,360deg) scale(1);
	}

	50%{
		transform: rotate3d(0,1,0,0deg) scale(1);
	}

	75%{
		transform: rotate3d(0,1,0,180deg) scale(1.4,1.2);
	}

	to{
		transform: rotate3d(0,1,0,360deg) scale(1);
	}
}

@keyframes CPUBackRotateAndScale{
	from{
		transform: rotate3d(1,0,0,180deg) scale(1);
	}

	25%{
		transform: rotate3d(1,0,0,360deg) scale(1.4,1.2);
	}

	49.99999%{
		transform: rotate3d(1,0,0,540deg) scale(1);
	}

	50%{
		transform: rotate3d(0,1,0,180deg) scale(1);
	}

	75%{
		transform: rotate3d(0,1,0,360deg) scale(1.4,1.2);
	}

	to{
		transform: rotate3d(0,1,0,540deg) scale(1);
	}
}

@keyframes rotateAnim{

	from{
		transform: rotate3d(0,1,0,0deg);
	}

	to{
		transform: rotate3d(0,1,0,360deg);
	}

}

@media screen and (orientation: landscape){

	@keyframes moveAndRotateMotherboardFront{
		from{
			transform: translate(0,-12vh) rotate3d(0,1,0,0deg);
		}

		25%{
			transform: translate(-31vw,12vh) rotate3d(0,1,0,360deg);
		}

		50%{
			transform: translate(-62vw,-12vh) rotate3d(0,1,0,720deg);
		}

		75%{
			transform: translate(-93vw,12vh) rotate3d(0,1,0,1080deg);
		}

		to{
			transform: translate(-125vw,-12vh) rotate3d(0,1,0,1440deg);
		}
	}

	@keyframes moveAndRotateMotherboardBack {
		from {
			transform: translate(0,-12vh) rotate3d(0,1,0,180deg);
		}

		25% {
			transform: translate(-31vw,12vh) rotate3d(0,1,0,540deg);
		}

		50% {
			transform: translate(-62vw,-12vh) rotate3d(0,1,0,900deg);
		}

		75% {
			transform: translate(-93vw,12vh) rotate3d(0,1,0,1260deg);
		}

		to {
			transform: translate(-125vw,-12vh) rotate3d(0,1,0,1620deg);
		}
	}

	@keyframes moveAndRotateVideocardFront{
		from{
			transform: translate(0vw,12vh) rotate3d(0,1,0,0deg);
		}

		25%{
			transform: translate(34vw,-12vh) rotate3d(0,1,0,-360deg);
		}

		50%{
			transform: translate(68vw,12vh) rotate3d(0,1,0,-720deg);
		}

		75%{
			transform: translate(102vw,-12vh) rotate3d(0,1,0,-1080deg);
		}

		to{
			transform: translate(136vw,12vh) rotate3d(0,1,0,-1440deg);
		}
	}

	@keyframes moveAndRotateVideocardBack {
		from {
			transform: translate(0vw,12vh) rotate3d(0,1,0,-180deg);
		}

		25% {
			transform: translate(34vw,-12vh) rotate3d(0,1,0,-540deg);
		}

		50% {
			transform: translate(68vw,12vh) rotate3d(0,1,0,-900deg);
		}

		75% {
			transform: translate(102vw,-12vh) rotate3d(0,1,0,-1260deg);
		}

		to {
			transform: translate(134vw,12vh) rotate3d(0,1,0,-1620deg);
		}
	}
}

@media screen and (orientation: portrait){
	@keyframes moveAndRotateMotherboardFront{
		from{
			transform:translate(-12vw,0) rotate3d(1,0,0,0deg) rotate(90deg);
		}

		25%{
			transform: translate(12vw,-31vh) rotate3d(1,0,0,360deg) rotate(90deg);
		}

		50%{
			transform: translate(-12vw,-62vh) rotate3d(1,0,0,720deg) rotate(90deg);
		}

		75%{
			transform: translate(12vw,-93vh) rotate3d(1,0,0,1080deg) rotate(90deg);
		}

		to{
			transform: translate(-12vw,-125vh) rotate3d(1,0,0,1440deg) rotate(90deg);
		}
	}

	@keyframes moveAndRotateMotherboardBack {
		from{
			transform: translate(-12vw,0) rotate3d(1,0,0,180deg) rotate(90deg);
		}

		25%{
			transform: translate(12vw,-31vh) rotate3d(1,0,0,540deg) rotate(90deg);
		}

		50%{
			transform: translate(-12vw,-62vh) rotate3d(1,0,0,900deg) rotate(90deg);
		}

		75%{
			transform: translate(12vw,-93vh) rotate3d(1,0,0,1260deg) rotate(90deg);
		}

		to{
			transform: translate(-12vw,-125vh) rotate3d(1,0,0,1620deg) rotate(90deg);
		}
	}

	@keyframes moveAndRotateVideocardFront{
		from{
			transform: translate(12vw,0) rotate3d(1,0,0,0deg) rotate(90deg);
		}

		25%{
			transform: translate(-12vw,34vh) rotate3d(1,0,0,-360deg) rotate(90deg);
		}

		50%{
			transform: translate(12vw,68vh) rotate3d(1,0,0,-720deg) rotate(90deg);
		}

		75%{
			transform: translate(-12vw,102vh) rotate3d(1,0,0,-1080deg) rotate(90deg);
		}

		to{
			transform: translate(12vw,136vh) rotate3d(1,0,0,-1440deg) rotate(90deg);
		}
	}

	@keyframes moveAndRotateVideocardBack {
		from {
			transform: translate(12vw,0) rotate3d(1,0,0,-180deg) rotate(90deg);
		}

		25% {
			transform: translate(-12vw,34vh) rotate3d(1,0,0,-540deg) rotate(90deg);
		}

		50% {
			transform: translate(12vw,68vh) rotate3d(1,0,0,-900deg) rotate(90deg);
		}

		75% {
			transform: translate(-12vw,102vh) rotate3d(1,0,0,-1260deg) rotate(90deg);
		}

		to {
			transform: translate(12vw,134vh) rotate3d(1,0,0,-1620deg) rotate(90deg);
		}
	}
}