body{
	min-width: 240px;
}

.animation-container{
	width: 100vw;
	height: 100vh;
	position: relative;
}

.motherboard-front-wrapper,
.motherboard-back-wrapper,
.videocard-front-wrapper,
.videocard-back-wrapper{
	position: absolute;
}

.motherboard-front,
.motherboard-back,
.videocard-front,
.videocard-back{
	backface-visibility: hidden;
}

.motherboard-front{
	animation: moveAndRotateMotherboardFront 5s linear infinite;
}

.motherboard-back{
	animation: moveAndRotateMotherboardBack 5s linear infinite;
}

.videocard-front{
	animation: moveAndRotateVideocardFront 5s linear infinite;
}

.videocard-back{
	animation: moveAndRotateVideocardBack 5s linear infinite;
}

.anim-el-inner-wrapper{
	transform-style: preserve-3d;
}