@media screen and (max-width: 240px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_240x320.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 241px) and (max-width: 480px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_480x640.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 481px) and (max-width: 720px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_720x960.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 721px) and (max-width: 960px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_960x1280.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 961px) and (max-width: 1440px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_1440x1920.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 1441px) and (max-width: 1680px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_1680x2240.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 1681px) and (orientation: portrait){

	.animation-container{
		background: url("../img/backgrounds/portrait/background_1920x2560.jpg") 0/cover no-repeat;
	}

}

@media screen and (max-width: 320px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_320x240.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 321px) and (max-width: 640px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_640x480.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 641px) and (max-width: 960px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_960x720.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 961px) and (max-width: 1280px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_1280x960.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 1281px) and (max-width: 1920px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_1920x1440.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 1921px) and (max-width: 2240px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_2240x1680.jpg") 0/cover no-repeat;
	}

}

@media screen and (min-width: 2241px) and (orientation: landscape){

	.animation-container{
		background: url("../img/backgrounds/landscape/background_2560x1920.jpg") 0/cover no-repeat;
	}

}