@media screen and (orientation: portrait){

	@media (max-width: 240px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_240x320.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 241px) and (max-width: 480px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_480x640.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 481px) and (max-width: 720px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_720x960.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 721px) and (max-width: 960px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_960x1280.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 961px) and (max-width: 1440px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_1440x1920.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 1441px) and (max-width: 1680px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_1680x2240.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 1681px){

		.animation-container{
			background: url("../img/backgrounds/portrait/background_1920x2560.jpg") center/cover no-repeat;
		}

	}

	.motherboard-front-wrapper,
	.motherboard-back-wrapper{
		right: 14vw;
		top: 100vh;
	}

	.motherboard-front,
	.motherboard-back{
		width: 20vw;
		height: 18vh;
	}

	.videocard-front-wrapper,
	.videocard-back-wrapper{
		left: 4vw;
		top: -33vh;
	}

	.videocard-front,
	.videocard-back{
		width: 27vh;
		height: 36vw;
	}

	.cpu-front-wrapper,
	.cpu-back-wrapper{
		top: 42vh;
		left: 42vw;
	}

	.cpu-front,
	.cpu-back{
		width: 15vw;
		height: 14vh;
	}

	.cd1-wrapper{
		right: -20vw;
		top: 0;
	}

	.cd2-wrapper{
		right: -20vw;
		top: 23.125vh;
	}

	.cd3-wrapper{
		right: -20vw;
		top: 46.25vh;
	}

	.cd4-wrapper{
		right: -20vw;
		top: 69.375vh;
	}

	.cd5-wrapper{
		right: -20vw;
		top: 92.5vh;
	}


	.cd-back{
		width: 10vw;
		height: 7.5vh;
	}

	.cd-front{
		width: 10vw;
		height: 7.5vh
	}

	.anim-el-outer-wrapper{
		perspective: 150vh;
	}

}

@media screen and (orientation: landscape){

	@media (max-width: 320px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_320x240.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 321px) and (max-width: 640px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_640x480.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 641px) and (max-width: 960px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_960x720.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 961px) and (max-width: 1280px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_1280x960.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 1281px) and (max-width: 1920px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_1920x1440.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 1921px) and (max-width: 2240px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_2240x1680.jpg") center/cover no-repeat;
		}

	}

	@media (min-width: 2241px){

		.animation-container{
			background: url("../img/backgrounds/landscape/background_2560x1920.jpg") center/cover no-repeat;
		}

	}

	.motherboard-front-wrapper,
	.motherboard-back-wrapper{
		top: 12vh;
		left: 100vw;
	}

	.motherboard-front,
	.motherboard-back{
		width: 16vw;
		height: 25vh;
	}

	.videocard-front-wrapper,
	.videocard-back-wrapper{
		bottom: 12vh;
		left: -33vw;
	}

	.videocard-front,
	.videocard-back{
		width: 33vw;
		height: 25vh;
	}

	.cpu-front-wrapper,
	.cpu-back-wrapper{
		top: 41vh;
		left: 44vw;
	}

	.cpu-front,
	.cpu-back{
		width: 12vw;
		height: 18vh;
	}

	.cd1-wrapper{
		top: -20vh;
		left: 0;
	}

	.cd2-wrapper{
		top: -20vh;
		left: 23.125vw;
	}

	.cd3-wrapper{
		top: -20vh;
		left: 46.25vw;
	}

	.cd4-wrapper{
		top: -20vh;
		left: 69.375vw;
	}

	.cd5-wrapper{
		top: -20vh;
		left: 92.5vw;
	}

	.cd-back{
		width: 7.5vw;
		height: 10vh;
	}

	.cd-front{
		width: 7.5vw;
		height: 10vh
	}

	.anim-el-outer-wrapper{
		perspective: 150vw;
	}

}

@media screen and (orientation: portrait) and (max-width: 480px),
		(orientation: landscape) and (max-width: 640px){

	.motherboard-front{
		background: url("../img/motherboard/motherboard_front_100x120.png") center/contain no-repeat;
	}

	.motherboard-back{
		background: url("../img/motherboard/motherboard_back_100x120.png") center/contain no-repeat;
	}

	.videocard-front{
		background: url("../img/videocard/videocard_front_214x120.png") center/contain no-repeat;
	}

	.videocard-back{
		background: url("../img/videocard/videocard_back_214x120.png") center/contain no-repeat;
	}

	.cpu-front{
		background: url("../img/cpu/cpu_front_74x86.png") center/contain no-repeat;
	}

	.cpu-back{
		background: url("../img/cpu/cpu_back_74x86.png") center/contain no-repeat;
	}

	.cd1-front{
		background: url("../img/cd/cd_front_01_48x48.jpg") center/contain no-repeat;
	}

	.cd2-front{
		background: url("../img/cd/cd_front_02_48x48.jpg") center/contain no-repeat;
	}

	.cd3-front{
		background: url("../img/cd/cd_front_03_48x48.jpg") center/contain no-repeat;
	}

	.cd4-front{
		background: url("../img/cd/cd_front_04_48x48.jpg") center/contain no-repeat;
	}

	.cd5-front{
		background: url("../img/cd/cd_front_05_48x48.jpg") center/contain no-repeat;
	}

	.cd-back{
		background: url("../img/cd/cd_back_48x48.png") center/contain no-repeat;
	}
}

@media screen and (orientation: portrait) and (min-width:481px) and (max-width: 960px),
		(orientation: landscape) and (min-width: 641px) and (max-width: 1280px){

	.motherboard-front{
		background: url("../img/motherboard/motherboard_front_200x240.png") center/contain no-repeat;
	}

	.motherboard-back{
		background: url("../img/motherboard/motherboard_back_200x240.png") center/contain no-repeat;
	}

	.videocard-front{
		background: url("../img/videocard/videocard_front_427x240.png") center/contain no-repeat;
	}

	.videocard-back{
		background: url("../img/videocard/videocard_back_427x240.png") center/contain no-repeat;
	}

	.cpu-front{
		background: url("../img/cpu/cpu_front_148x172.png") center/contain no-repeat;
	}

	.cpu-back{
		background: url("../img/cpu/cpu_back_148x172.png") center/contain no-repeat;
	}

	.cd1-front{
		background: url("../img/cd/cd_front_01_96x96.jpg") center/contain no-repeat;
	}

	.cd2-front{
		background: url("../img/cd/cd_front_02_96x96.jpg") center/contain no-repeat;
	}

	.cd3-front{
		background: url("../img/cd/cd_front_03_96x96.jpg") center/contain no-repeat;
	}

	.cd4-front{
		background: url("../img/cd/cd_front_04_96x96.jpg") center/contain no-repeat;
	}

	.cd5-front{
		background: url("../img/cd/cd_front_05_96x96.jpg") center/contain no-repeat;
	}

	.cd-back{
		background: url("../img/cd/cd_back_96x96.png") center/contain no-repeat;
	}
}

@media screen and (orientation: portrait) and (min-width: 961px),
		(orientation: landscape) and (min-width: 1281px){

	.motherboard-front{
		background: url("../img/motherboard/motherboard_front_400x480.png") center/contain no-repeat;
	}

	.motherboard-back{
		background: url("../img/motherboard/motherboard_back_400x480.png") center/contain no-repeat;
	}

	.videocard-front{
		background: url("../img/videocard/videocard_front_854x480.png") center/contain no-repeat;
	}

	.videocard-back{
		background: url("../img/videocard/videocard_back_854x480.png") center/contain no-repeat;
	}

	.cpu-front{
		background: url("../img/cpu/cpu_front_296x344.png") center/contain no-repeat;
	}

	.cpu-back{
		background: url("../img/cpu/cpu_back_296x344.png") center/contain no-repeat;
	}
	.cd1-front{
		background: url("../img/cd/cd_front_01_192x192.jpg") center/contain no-repeat;
	}

	.cd2-front{
		background: url("../img/cd/cd_front_02_192x192.jpg") center/contain no-repeat;
	}

	.cd3-front{
		background: url("../img/cd/cd_front_03_192x192.jpg") center/contain no-repeat;
	}

	.cd4-front{
		background: url("../img/cd/cd_front_04_192x192.jpg") center/contain no-repeat;
	}

	.cd5-front{
		background: url("../img/cd/cd_front_05_192x192.jpg") center/contain no-repeat;
	}

	.cd-back{
		background: url("../img/cd/cd_back_192x192.png") center/contain no-repeat;
	}
}